@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right ">
    <div class="reservation-line m-2">
        @Html.TextBox("date", DateTime.Now.ToString("yyyy-MM-dd"), new { type = "date" })
        </div>
        <div class="reservation-line m-2">
            @Html.TextBox("date", DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"), new { type = "date" })
        </div>
    </div>
